p{
    width: 700px;
}

#button{
    display: block;
    border: 1px solid #000;
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom: 150px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding: 5px;
    transition-timing-function: ease-in-out;
    font-family: 'Quicksand', sans-serif;
    position: absolute;


}

#button:hover{
    transition: padding 0.5s;
    padding: 10px;
}

#button:visited{
    text-decoration: none;
    color: #000;
}

#content{
    margin-top: 100px;
    margin-left: 300px;
}

img{
    width: 80%;
    margin-bottom: 50px;
}

#BADA{
    text-align: right;
}

#musicChart{
    text-align: center;
}

h5{
    margin-left: 20px;
    font-size: 12pt;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h4{
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 25pt;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h3{
    margin-top: 200px;
}

#firstTitle{
    margin-top: 100px;
}

#fourthTitle{
    margin-top: 300px;
}

h3{
    font-size: 40pt;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#jobTitleIndicator{
    position: absolute;
    width: 0;
    height: 30px;
    border: 0.5px solid #000;
}

img{
    width: 80%;
}

video{
    width: 80%;
}

#eyeTracker{
    width: 60%;
}

#kahootSketch{
    width: 60%;
    margin-bottom: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#kahootSelection{
    margin-top: 100px;
}

#quickConvertPic{
    margin-top: 120px;
}

#BADAsketch1{
    width: 48%;
}
#BADAsketch2{
    width: 45%;
}
